@using UmbracoProject.Services
@using System.Globalization
@inherits UmbracoViewPage

@{
    var data = await CommentClient.GetCommentsAsync();
}

@if (data == null || data.Count == 0)
{
    <span style="text-align: center; font-size: 30px;">
        <b>ERROR</b>
    </span>
}
else
{
    foreach (var comment in data)
    {
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        <div class="post-preview">
            <a href="#!">
                <h2 class="post-title">@comment.Name</h2>
                <h3 class="post-subtitle">@comment.Body</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">@comment.Email</a>
                on @DateTime.Today.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)
            </p>
        </div>
    }
}



