@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="/about" class="nav-link">About</NavLink>
        </div>

        <div class="content px-4 d-flex flex-column align-content-center justify-content-center flex-wrap">
            @Body
        </div>
    </main>
</div>
